{% extends "base.html" %}
{% block title %}
    Results
{% endblock %}

{% block main %}
    <h1>{{ data.name }}</h1>
    <h4 style="color: gray;" ><i>#{{ data.tagline }}</i></h4>

    
    
    {% if data.next_episode_to_air %}
    <strong>Next Episode to air:</strong> {{ data.next_episode_to_air.air_date }} <br>
    <strong>Episode Number:</strong> {{ data.next_episode_to_air.episode_number }} <br>
    
    <h4></h4>
    {% else %}

    <strong>No new Episode to air</strong> <br>
    
    
    {% endif %}

    {% if data.homepage %}
    Tv show homepage  {{data.homepage}} <br>
    {% endif %}

    
    <img src="https://image.tmdb.org/t/p/w200/{{data.poster_path}}" alt="">


    <a href="homepage {{data.homepage}}"></a>
    
    <hr>
    <h2>Networks</h2>
    {% for m in data.networks %}
        <h3>{{ m.name }}</h3>
        <img src="https://image.tmdb.org/t/p/w200/{{m.logo_path}}" alt="">
    {% endfor %}
    <hr>
    
    <h2>Genres</h2>
    <ul>
        {% for g in data.genres %}
       <li>{{g.name}}</li> 
    {% endfor %}
    </ul>
    <hr>

    <h2>Language</h2>
    <ul>
        <li>{{data.original_language}}</li> 
    </ul>

    <hr>


    <h2>Season number and Episodes</h2>

    <p><strong>Number of seasons: </strong>{{ data.number_of_seasons }}</p>
    <p><strong>Number of episodes: </strong>{{ data.number_of_episodes }}</p>
    <hr>

    <h2>Last episode as of today</h2>
        <strong>Air date:</strong> {{data.last_episode_to_air.air_date}} <br>
        <strong>Season Number:</strong> {{data.last_episode_to_air.season_number}} <br>
        <strong>Episode number:</strong> {{data.last_episode_to_air.episode_number}} <br>
        <strong>Runtime:</strong> {{data.last_episode_to_air.runtime}} <br>
        <strong>Name:</strong> {{data.last_episode_to_air.name}} <br>
        <strong>Overview:</strong> {{data.last_episode_to_air.overview}} <br>
        
        
        
        
        <hr>

        <h2>Reccomendations</h2>
        <div class="row">
            {% for m in recommendations.results %}
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src=https://image.tmdb.org/t/p/original/{{m.poster_path}} class="card-img-top" alt="...">
                <div class="card-body">
                  {% if  m.name %}
                    <h5 class="card-title">{{m.name}}</h5>
                  {% else %}
                    <h5 class="card-title">{{m.title}}</h5>
                  {% endif %}
                  <p class="card-text">{{m.overview}}</p>
                  
                  <a href="/{{ type }}/{{ m.id }}/" class="btn btn-primary">View Details</a>
                </div>
        
            </div>
            {% endfor %}
        </div>

<!-- 
    {% for d in data.production_companies %}
    <strong>Production Company:</strong> {{d.name}} <br>
    {% endfor %} -->
   

  

    <!-- <h1>{{ data.overview }}</h1> -->
    


{% endblock %}