{% extends "base.html" %}
{% block title %}
    Tv Details
{% endblock %}

{% block main %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Django Movies</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
        </ul>
        <form action="/search/" method="get" class="row g-3">
            <select class="form-select" name="type"  class="mb-3">
                <option value="movie">Movie</option>
                <option value="tv">Tv Shows</option>
              </select>
    
            <div class="col-auto" >
                <input type="text" class="form-control" placeholder="Search Query" name="q">
            </div>
            <div class="col-auto" >
                <button type="submit" class="btn btn-primary">
                    Search
                </button>
            </div>
        </form>
      </div>
    </div>
  </nav>
    <h1>{{ data.name }}</h1>

    {% if data.tagline %}
        <h4 style="color: gray;" ><i>#{{ data.tagline }}</i></h4>
    {% endif %}

    
    
    {% if data.next_episode_to_air %}
        <h3>Next Episode to Air</h3>
        <strong>Next Release air date:</strong> {{ data.next_episode_to_air.air_date }} <br>
        <strong>Season Number:</strong> {{ data.next_episode_to_air.season_number }} <br>
        <strong>Episode Number:</strong> {{ data.next_episode_to_air.episode_number }} <br>
    
    {% else %}

        <strong>No new Episode to air</strong> <br>
    
    
    {% endif %}


    
    <img src="https://image.tmdb.org/t/p/w200/{{data.poster_path}}" alt="">
    
    <hr>
    <h2>Networks</h2>
    {% for m in data.networks %}
        <h3>{{ m.name }}</h3>
        <img src="https://image.tmdb.org/t/p/w200/{{m.logo_path}}" alt="">
    {% endfor %}
    <hr>
    
    <h2>Genres</h2>
    <ul>
        {% for g in data.genres %}
       <li>{{g.name}}</li> 
    {% endfor %}
    </ul>
    <hr>

    <h2>Language</h2>
    <ul>
        <li>{{data.original_language}}</li> 
    </ul>

    <hr>


    <h2>First Air date & No. of Seasons</h2>

    <strong>First air date: </strong>{{ data.first_air_date }}<br>
    <strong>Number of seasons: </strong>{{ data.number_of_seasons }}<br>
    <strong>Number of episodes: </strong>{{ data.number_of_episodes }}<br>
    <hr>

    <h2>
        Last episode as of today

    </h2>
        <strong>Air date:</strong> {{data.last_episode_to_air.air_date}} <br>
        <strong>Season Number:</strong> {{data.last_episode_to_air.season_number}} <br>
        <strong>Episode number:</strong> {{data.last_episode_to_air.episode_number}} <br>
        <strong>Runtime:</strong> {{data.last_episode_to_air.runtime}} minutes<br>
        <strong>Name:</strong> {{data.last_episode_to_air.name}} <br>
        <strong>Overview:</strong> {{data.last_episode_to_air.overview}} <br>
        
        <hr>

        <h2>Reccomendations</h2>
        <div class="row">
            {% for m in recommendations.results %}
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src=https://image.tmdb.org/t/p/original/{{m.poster_path}} class="card-img-top" alt="...">
                <div class="card-body">
                  {% if  m.name %}
                    <h5 class="card-title">{{m.name}}</h5>
                  {% else %}
                    <h5 class="card-title">{{m.title}}</h5>
                  {% endif %}
                  <p class="card-text">{{m.overview}}</p>
                  
                  <a href="/{{ type }}/{{ m.id }}/" class="btn btn-primary">View Details</a>
                </div>
        
            </div>
            {% endfor %}
        </div>

<!-- 
    {% for d in data.production_companies %}
    <strong>Production Company:</strong> {{d.name}} <br>
    {% endfor %} -->
   

  

    <!-- <h1>{{ data.overview }}</h1> -->
    


{% endblock %}